@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic);
/* line 11, ../scss/style.scss */
.block, h1, section {
  padding: 1em;
  margin: 0 -1em 1em;
  background-color: #191919;
}
/* line 16, ../scss/style.scss */
.block p:first-child, h1 p:first-child, section p:first-child {
  margin-top: 0;
}
/* line 20, ../scss/style.scss */
.block p:last-child, h1 p:last-child, section p:last-child {
  margin-bottom: 0;
}

/* line 25, ../scss/style.scss */
body {
  background-color: #e1e1e1;
  color: #f0e6e6;
  font: 300 1em/1.5em 'PT Serif Caption', serif;
  max-width: 28em;
  margin: 4em auto;
}
@media (max-width: 36em) {
  /* line 25, ../scss/style.scss */
  body {
    margin: 4em 11.11%;
  }
}

/* line 38, ../scss/style.scss */
a, a:link, a:visited {
  color: #f0e6e6;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: -1px;
}

/* line 44, ../scss/style.scss */
a:hover {
  border-bottom-color: #fff;
}

/* line 48, ../scss/style.scss */
h1 {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  color: #f0e6e6;
  text-shadow: 0 -1px #333, 0 0 4px #5f5f5f;
}

/* line 58, ../scss/style.scss */
mark {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2em;
  margin: -0.2em;
  color: inherit;
}

/* line 69, ../scss/style.scss */
ul.contact {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 75, ../scss/style.scss */
ul.contact li {
  display: inline;
}
/* line 78, ../scss/style.scss */
ul.contact li:after {
  content: "•";
  padding: 0 0.5em;
}
/* line 83, ../scss/style.scss */
ul.contact li:last-child:after {
  content: none;
}
