body {
  background: #c0cfd9;
  margin: 5em auto;
  color: #222;
  font: 400 italic 15px 'Source Sans Pro'; }
  @media (max-width: 799px) and (min-width: 361px) and (min-height: 361px) {
    body {
      margin: 0 auto; } }
  @media (max-width: 360px) {
    body {
      margin: 0; } }
  @media (max-height: 360px) {
    body {
      margin: 0; } }

a:link, a:visited {
  color: #00649d;
  text-decoration: underline; }
a:active {
  color: #003f69; }

article {
  margin: 5em;
  position: absolute;
  top: 50%;
  margin-top: -217.5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  @media (max-width: 799px) and (min-width: 361px) and (min-height: 361px) {
    article {
      left: 50%;
      margin-right: 0;
      margin-left: -180px;
      margin-top: 5em;
      top: auto;
      width: 360px; } }
  @media (max-width: 360px) {
    article {
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%; } }
  @media (max-height: 360px) {
    article {
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%; } }
  article:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden; }
  article #image {
    width: 360px;
    position: relative;
    float: left;
    z-index: 2; }
    @media (max-width: 360px) and (orientation: portrait) {
      article #image {
        width: 100%; }
        article #image:after {
          clear: both;
          content: ' ';
          display: block;
          visibility: hidden; } }
    @media (max-height: 360px) and (orientation: landscape) {
      article #image {
        width: 50%;
        padding-bottom: 50%;
        position: fixed; } }
    article #image img, article #image #shadow {
      display: block;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px; }
      @media (max-width: 360px) {
        article #image img, article #image #shadow {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; } }
      @media (max-height: 360px) {
        article #image img, article #image #shadow {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; } }
    @media (max-width: 360px) and (orientation: portrait) {
      article #image img {
        width: 100%;
        height: auto; } }
    @media (max-height: 360px) and (orientation: landscape) {
      article #image img {
        position: absolute;
        right: 0; } }
    article #image #shadow {
      position: absolute;
      top: 0;
      width: 360px;
      height: 360px;
      -moz-box-shadow: inset 0px -1px 6px #444444;
      -webkit-box-shadow: inset 0px -1px 6px #444444;
      box-shadow: inset 0px -1px 6px #444444; }
      @media (max-width: 360px) and (orientation: portrait) {
        article #image #shadow {
          width: 100%;
          height: 100%;
          bottom: 0;
          top: auto;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -o- linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -moz- linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -ms- linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%); } }
      @media (max-height: 360px) and (orientation: landscape) {
        article #image #shadow {
          width: 100%;
          height: 100%;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          background-image: linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -o- linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -moz- linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%);
          background-image: -ms- linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15%); } }
  article #description {
    padding: 0 1em;
    width: 18em;
    height: 360px;
    overflow: visible;
    float: left;
    display: block;
    z-index: 4; }
    article #description:after {
      clear: both;
      content: ' ';
      display: block;
      visibility: hidden; }
    @media (max-width: 799px) and (min-width: 361px) and (min-height: 361px) {
      article #description {
        clear: left;
        margin-bottom: 5em; } }
    @media (max-width: 360px) {
      article #description {
        height: auto;
        width: auto;
        /* float: none; */
        margin-bottom: 2em; } }
    @media (max-height: 360px) {
      article #description {
        height: auto;
        width: auto;
        /* float: none; */
        margin-bottom: 2em; } }
    @media (max-height: 360px) and (orientation: landscape) {
      article #description {
        margin-left: 50%;
        height: 100%;
        clear: none; } }
    article #description span {
      background: #e5e5e5;
      background: rgba(245, 245, 245, 0.6);
      line-height: 1.7em;
      /* padding: 0.1em 0.2em 0.1em 0.05em; */ }
  article aside {
    background: #e5e5e5;
    background: rgba(245, 245, 245, 0.6);
    padding: 1.5em 2em;
    margin: 2em 0;
    border: 1px solid #e1e1e1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal 0.8em 'Helvetica', 'Arial', sans-serif; }
    article aside ul {
      margin: 0;
      padding: 0; }
    article aside li {
      list-style: none; }
    article aside i {
      margin-right: 0.3em; }
  article aside#contact {
    display: none; }
